   body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgb(46, 119, 214);
        }

        .titulo {
            font-size: 40px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(255, 255, 255);

        }

        .modal {
            display: flex;
            background-color: rgb(255, 255, 255);
            justify-content: center;
            flex-direction: column;
            height: 450px;
            width: 530px;
            border-radius: 10px;
            padding: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .input-ano {
            height: 20px;
        }

        p {
            font-size: x-large;
            color: black;

        }

        .sexo {
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 22px;

        }

        .opcao {

            display: flex;
            align-items: center;
            gap: 5px;

        }

        .opcao input {
            width: 30px;
            height: 30px;
        }


        .verificar {
            margin-top: 20px;
            width: 80px;
            font-size: large;

        }

        .texto {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .input-sexo {
            width: 15px;
            height: 15px;
        }

        .foto {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .foto-config {
            border-radius: 120px;
            width: 240px;
            height: 240px;

        }